body {
	font-family: "Arial";
}
#hazard {
	background: repeating-linear-gradient(45deg, yellow, yellow 4px, #808080 4px, #808080 8px);
	text-shadow: 1px 1px #808080;
	text-color: white;
	border: 3px solid black;
}
#control {
    width: 100px;
}
table, td, body {
	border-collapse: collapse;
	padding: 5px;
}
th, tr {
	border: 3px solid black;
}
[class*="white"] {
	background: white;
}
[class*="green"] {
	background: green;
}
[class*="yellow"] {
	background: yellow;
}
[class*="red"] {
	background: red;
}
