body {
  font-family: "Arial";
  font-size: 8pt;
}
table, td, body {
  margin: auto;
  border-collapse: collapse;
  padding: 5px;
}
tr {
  border: 3px solid black;
}
a {
  color: black;
}
th {
  border-bottom: 3px solid black;
}
section {
  width: 93%;
  margin: 20px auto;
  background: gray;
  display: flex;
}
article {
  color: black;
  flex: 1;
  margin-right: 10px;
}
article:last-child {
  margin-right: 0;
}
div {
  color: black;
  background: white;
  flex: 1;
}
div:last-child {
  margin-right: 0;
}
section, div {
  border: 3px solid black;
  padding: 10px;
}
.tile_hazard {
  margin: 20px auto;
  padding: 10px;
  border: 3px solid black;
  background: orange;
}
.tile_control {
  margin: 20px auto;
  padding: 10px;
  border: 3px solid black;
}
.tile_hazard:hover {
  border: 3px dashed black;
}
.content {
  width: 93%;
  margin: 20px auto;
  background: gray;
  display: flex;
}
.container {
  width: 200px;
  clear: both;
}
.container input {
  width: 100%;
  clear: both;
}
.white {
  background: white;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.red {
  background: red;
}
.kpi {
  width: 80 !important;
  height: 40 !important;
  border-collapse: collapse;
  padding: 0px;
  align: center;
  margin: 0px;
  display: block !important;
}
.navbar {
  width: 93%;
  margin: 20px auto;
  background: gray;
  display: flex;
  justify-content: center;
}
.navlink {
  width: 100px;
  margin: 0px 10px;
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.a, .b, .c { border: none;}
.a { float: left; text-align: left; }
.b { text-align: center; }
.c { float: right; text-align: center; }
.ll, .li { text-align: left; border: none; padding: 0pt; margin: 0px; }
.cl { text-align: left; padding: 10pt; margin-right: 0px; margin-bottom: 10px; }
.ci { text-align: left; padding: 10pt; margin-right: 0px; margin-bottom: 10px; }
.cl:last-child {
  margin-bottom: 0;
}
.alert {
  background: repeating-linear-gradient(45deg, yellow, yellow 4px, black 4px, black 8px);
  color: red;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 250;
}
#pcontrol {
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
#hazard {
  background: repeating-linear-gradient(45deg, yellow, yellow 4px, #808080 4px, #808080 8px);
  text-shadow: 0px 0px 8px black;
  color: red;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 250;
}
#topelement {
  font-weight: bold;
  text-align: center;
  background: orange;
  border-radius: 100px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 3px black; /* this draws the table border  */
  width: 200px;
  height: 100px;
}
#control {
  width: 250px;
}
#kpiblock {
  width: 80 !important;
  height: 55 !important;
  border: none !important;
  border-collapse: collapse;
  align: center;
  padding: 0px;
  margin: 5px;
  display: inline-block !important;
}
#kpititle {
  padding: 3px;
  margin: 0px;
  align: center;
  text-align: center;
  border: none !important;
  display: block !important;
}
