[class*="tile_hazard"] {
  margin: 20px auto;
  padding: 10px;
  border: 3px solid black;
  background: red;
}
[class*="tile_control"] {
  margin: 20px auto;
  padding: 10px;
  border: 3px solid black;
}
[class*="tile_hazard"]:hover {
  border: 3px dashed black;
}
[class*="content"] {
  width: 93%;
  margin: 20px auto;
  background: gray;
  display: flex;
}
section {
  width: 93%;
  margin: 20px auto;
  background: gray;
  display: flex;
}
article {
  color: black;
  flex: 1;
  margin-right: 10px;
}
div {
  color: black;
  background: white;
  flex: 1;
  margin-top: 10px;
}
div:last-child {
  margin-right: 0;
}
section, div {
  border: 3px solid black;
  padding: 10px;
}
.container {
  width: 200px;
  clear: both;
}
.container input {
  width: 100%;
  clear: both;
}
body {
  font-family: "Arial";
  font-size: 8pt;
}
table, td, body {
  margin: auto;
  border-collapse: collapse;
  padding: 5px;
}
tr {
  border: 3px solid black;
}
th {
  border-bottom: 3px solid black;
}
[class*="white"] {
  background: white;
}
[class*="green"] {
  background: green;
}
[class*="yellow"] {
  background: yellow;
}
[class*="red"] {
  background: red;
}
#pcontrol {
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
#hazard {
  background: repeating-linear-gradient(45deg, yellow, yellow 4px, #808080 4px, #808080 8px);
  text-shadow: 0px 0px 8px black;
  color: red;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 250;
}
#topelement {
  font-weight: bold;
  text-align: center;
  background: orange;
  border-radius: 100px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 3px black; /* this draws the table border  */
  width: 200px;
  height: 100px;
}
#control {
  width: 250px;
}
[class*="kpiblock"] {
  width: 100 !important;
  height: 100 !important;
  border: none;
  border-collapse: collapse;
  padding: 0px;
  display: inline-block !important;
}
[class*="kpicanvas"] {
  width: 80 !important;
  height: 80 !important;
  border-collapse: collapse;
  padding: 0px;
  display: block !important;
}
[class*="kpititle"] {
  padding: 0px;
  text-align: center;
  border: none;
  display: block !important;
}
